<div class="card">
    <div class="about">
        <div class="image-container">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            <div class="overlay-icon">
                <fa-icon class="icon fa-3x" [icon]="faSearch"></fa-icon>
            </div>
        </div>
        <p class="name">{{candle.name}}</p>
        <p>{{candle.description}}</p>
    </div>
    <div class="variants">
        <p class="variants-text">Poznaj warianty naszych świec</p>
        <ul>
            <li *ngFor="let variant of candle.variants">
                <p [ngClass]="{
                    'link': variant.link,
                    'disabled-link': !variant.link
                }" (click)="openPage(variant.link)">{{getDescription(variant)}}</p>
            </li>
        </ul>
    </div>
</div>