<div id="scroll-up-btn" class="scroll-up-btn">
  <a href="#home">
    <fa-icon [icon]="faAngleUp"></fa-icon>
  </a>
</div>
<nav id="navbar" class="navbar">
  <div class="max-width">
    <div class="logo"><a href="#home"><img src="assets/images/logo.png" alt="Massby Candle logo"></a></div>
    <ul class="menu" id="navbar-menu-items">
      <li><a id="about_massby_nav" href="#about_massby" class="menu-btn" (click)="onSectionSelect()">Massby</a></li>
      <li><a id="about_candles_nav" href="#about_candles" class="menu-btn" (click)="onSectionSelect()">Nasze Świece</a></li>
      <li><a id="gallery_nav" href="#gallery" class="menu-btn" (click)="onSectionSelect()">Galeria</a></li>
      <li><a id="products_nav" href="#products" class="menu-btn" (click)="onSectionSelect()">Produkty</a></li>
      <li><a id="contact_nav" href="#contact" class="menu-btn" (click)="onSectionSelect()">Kontakt</a></li>
    </ul>
    <div class="menu-btn">
      <fa-icon (click)="toogleMenu()" id="menu-hamburger" [icon]="menuActive ? faXmark : faBars"></fa-icon>
    </div>
  </div>
</nav>

<section #home class="home" id="home">
  <div class="max-width">
    <app-home></app-home>
  </div>
</section>

<section #about_massby class="about" id="about_massby">
  <div class="max-width">
    <app-about title="Massby" secondaryTitle="Poznaj Nas" [imageUrl]="isMobile() ? 'assets/images/mobile/section1.jpg' : 'assets/images/section1.jpg'" imageAlt="Obrazek świec sojowych Massby Candle dla pierwszej sekcji"
      titleInnerHtml="Dlaczego Massby Candle?" contentComponentName="about-massby">
    </app-about>
  </div>
</section>

<section #about_candles class="about" id="about_candle">
  <div class="max-width">
    <app-about title="Nasze Świece" secondaryTitle="Świece Sojowe" [imageUrl]="isMobile() ? 'assets/images/mobile/section2.jpg' : 'assets/images/section2.jpg'" imageAlt="Obrazek świec sojowych Massby Candle dla pierwszej sekcji"
      titleInnerHtml="Dlaczego świece sojowe?" contentComponentName="about-candles">
    </app-about>
  </div>
  <div class="max-width">
  
  </div>
</section>

<section #gallery class="gallery" id="gallery">
  <div class="max-width">
    <app-gallery></app-gallery>
  </div>
</section>

<section #products class="products" id="products">
  <div class="max-width">
    <app-title titleText="Produkty" secondaryText="Nasze Świece"></app-title>
    <app-products-main></app-products-main>
  </div>
</section>

<section #contact class="contact" id="contact">
  <div class="max-width">
    <app-contact></app-contact>
  </div>
</section>

<footer>
  <span>MASSBY CANDLES | <fa-icon [icon]="faCopyright"></fa-icon>
    2022</span>
</footer>