<ul>
    <li>
        Stanowią idealną alternatywę dla świec parafinowych
    </li>
    <li>
        Są w 100% naturalne, bezpieczne dla zdrowia
    </li>
    <li>
        Wosk sojowy jest w pełni biodegradowalny
    </li>
    <li>
        W czasie spalania wydzielają mniej dwutlenku węgla niż świece parafinowe
    </li>
    <li>
        Wosk sojowy jest bezpieczny dla dzieci, kobiet w ciąży i zwierząt
    </li>
    <li>
        Świece sojowe palą się dłużej niż te z parafiny
    </li>
    <li>
        Rozlany przypadkowo roztopiony wosk sojowy można bardzo łatwo wyczyścić,
        wystarczy ciepła woda i mydło, a
        ponadto nie jest on tak gorący jak parafina
    </li>
</ul>