@import '../../shared/__colors.scss';

.contact-content {
    font-family    : 'Poppins', sans-serif;
    display        : flex;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: center;
    margin-bottom  : 30px;
    text-align: center;
}

.contact-text {
    width        : 100%;
    margin-bottom: 30px;
}

.contact-icon {
    width     : 220px;
    display   : block;
    color     : $hover-color;
    text-align: center;
}

.right-icon {
    text-align : left;
    margin-left: 10px;
}

.left-icon {
    text-align  : right;
    margin-right: 10px;
}

.clickable:hover {
    transform: scale(1.15);
    cursor   : pointer;
}

p {
    text-align: center;
}